* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: FluffyCapy;
    src: url('./src/assets/font/PermanentMarker-Regular.ttf');
}

body {
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #211515;
    background-image: url('./src/assets/img/bg.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 35px 35px;
    overflow-x: hidden;
    image-rendering: -webkit-optimize-contrast;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    background-color: #211515;
    padding: .2em 2em 5em 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 100vh;
    width: 50vw;
}

.capy-image {
    width: 70%;
}

p {
    font-size: 1em;
}

h1, h2, h3 {
    font-family: FluffyCapy;
    padding-bottom: .2em;
}

h2 {
    font-size: 1.3em;
    padding-top: 1.3em;
}

nav {
    display: flex;
    justify-content: end;
}

nav button {
    margin-left: .6em;
}

footer {
    background-color: #211515;
    padding: .5em;
    font-size: .8em;
    color: #a9a9a9;
    width: 100%;
    text-align: center;
}

button {
    border: none;
    padding: .3em 1em;
    background-color: #4d3838;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #644a4a;
}

input {
    background-color: #4d3838;
    color: #fff;
    border: #644a4a solid 2px;
    padding: .5em .3em;
}

input:focus {
    border: #9e7575 solid 2px;
    outline: none;
}

input {
    display: block;
    margin-bottom: 1em;
    width: 50%;
}

label {
    font-size: 1em;
    display: block;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #bdb9b9;
}

form img {
    width: 50%;
}

.error {
    padding: 1em .3em;
    background-color: #c68a11;
    margin-bottom: 1em;
    width: 100%;
}

.successful {
    padding: 1em .3em;
    background-color: #11c650;
    margin-bottom: 1em;
}

.approval {
    list-style: none;
}

.card {
    background-color: #332525;
    padding: .5em 1em;
    width: 100%;
}

.approval li {
    margin-bottom: 1em;
}

.approval img {
    width: 60%;
}

.approval .deny {
    background-color: #600909;
}

.approval .deny:hover {
    background-color: #a00d0d;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bots {
    columns: 100px 3;
    column-gap: 1;
}

.bots .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bots .card svg {
    font-size: 3em;
}

.bots .card h3 {
    margin-left: 1em;
}

@media screen and (max-width: 1200px) {
    input {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    input {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .bots {
        columns: 1;
    }
}

@media screen and (max-width: 1200px) {
    .bots .card {
        margin-top: .5em;
    }
}


@media screen and (max-width: 950px) {
    section {
        width: 90vw;
    }
}

@media screen and (max-width: 950px) {
    input {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    button {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    form img {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .approval button {
        margin-top: .5em;
    }
}

@media screen and (max-width: 950px) {
    nav button {
        margin-left: 0;
        margin-top: .5em;
    }
}

@media screen and (max-width: 950px) {
    nav {
        display: block;
    }
}

@media screen and (max-width: 950px) {
    .center {
        display: block;
    }
}

@media screen and (max-width: 950px) {
    .capy-history .card {
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .approval img, .capy-image {
        width: 100%;
    }
}
