* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: FluffyCapy;
    src: url('./src/assets/font/PermanentMarker-Regular.ttf');
}

body {
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #211515;
    background-image: url('./src/assets/img/bg.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 35px 35px;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    background-color: #211515;
    padding: .2em 2em 5em 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 100vh;
    width: 50vw;
}

section img {
    width: 100%;
}

p {
    font-size: 1em;
}

h1, h2, h3 {
    font-family: FluffyCapy;
    padding-bottom: .2em;
}

h2 {
    font-size: 1.3em;
    padding-top: 1.3em;
}

footer {
    background-color: #211515;
    padding: .5em;
    font-size: .8em;
    color: #a9a9a9;
    width: 100%;
    text-align: center;
}

button {
    border: none;
    padding: .3em 1em;
    background-color: #4d3838;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #644a4a;
}

input {
    background-color: #4d3838;
    color: #fff;
    border: #644a4a solid 2px;
    padding: .5em .3em;
}

input:focus {
    border: #9e7575 solid 2px;
    outline: none;
}

input {
    display: block;
    margin-bottom: 1em;
    width: 50%;
}

label {
    font-size: 1em;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #bdb9b9;
}

@media screen and (max-width: 950px) {
    section {
        width: 90vw;
    }
}

@media screen and (max-width: 950px) {
    input {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    button {
        width: 101.5%;
    }
}
